<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="{{getv "/etcd/uri"}}/(.*)" />
                    <action type="Rewrite" url="http://localhost:{{getv "/etcd/port"}}/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="{{getv "/wmiexporter/uri"}}/(.*)" />
                    <action type="Rewrite" url="http://localhost:{{getv "/wmiexporter/port"}}/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule3" stopProcessing="true">
                    <match url="{{getv "/blackbox/uri"}}/(.*)" />
                    <action type="Rewrite" url="http://localhost:{{getv "/blackbox/port"}}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>